.CanvasControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
}

.CanvasControls-control {
  display: flex;
  gap: 10px;
}

.CanvasControls-draw {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
