.CustomSelectListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  max-height: 30px;
  padding: 5px;
}

abbr {
  text-decoration: none;
}

.CustomSelectListItem-code {
  width: 18px;
  height: 18px;
  font-size: 8px;
  font-weight: 700;
  color: white;
  background-color: #6F7EFF;
  border-radius: 2px;
  text-align: center;
  line-height: 18px;
  margin: 0;
}

.CustomSelectListItem-name {
  font-size: 15px;
  margin: 0;
}

.CustomSelectListItem[data-selected=true] {
  background-color: #808DFF;
  color: white;
}
