.ChatMessage {
  max-width: 600px;
  padding: 20px;
  display: flex;
  align-self: start;
  justify-content: start;
  background-color: rgba(206,0,255,0.28);
  border-radius: 10px;
}
.ChatMessage-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  word-break: break-word;
}

.ChatMessage-credentials {
  font-weight: 700;
}

.ChatMessage-status {
  text-align: end;
  font-size: 12px;
  opacity: 0.3;
}

.ChatMessage_isAuthor {
  align-self: end;
  justify-content: end;
  background-color: rgba(216,255,13,0.28);
}

